.background {
  background: var(--white);
  border-bottom: 2px solid var(--blush);
}

.notification {
  max-width: var(--large);
  margin: 0 auto;
  font-weight: var(--semi-bold);
  padding: 1em;
}

.icon {
  margin-right: 1em;
  width: 1em;
}
