.sponsor {
  padding: 1.5em;
  margin: 0;
  img {
    width: 100%;
    max-width: 13em;
  }
  figcaption,
  p {
    margin-top: 1em;
    font-size: 0.9em;
  }
  .level {
    font-weight: var(--semi-bold);
    font-size: 0.9em;
  }
  button {
    display: block;
    background: transparent;
    font-weight: var(--semi-bold);
    padding-bottom: 0.25em;
    margin-top: 1em;
    color: var(--navy);
    border-color: inherit;
    border-style: solid;
    font-size: 0.9em;
    border-width: 2px;
    &:hover {
      cursor: pointer;
      color: var(--tan);
    }
  }
}
