.menuButton {
  color: var(--navy);
  font-size: 2em;
}

.links {
  background-color: var(--white);
  button {
    display: block;
    background: transparent;
    color: var(--navy);
    margin: 1em;
    padding: 0.25em;
    font-family: 'Open Sans';
    font-weight: var(--semi-bold);
    border: 0;
    &:hover,
    &:focus {
      color: var(--orange);
      cursor: pointer;
    }
  }
}

.small {
  display: none;

  @media screen and (max-width: 60em) {
    display: block;
    .links {
      z-index: 1;
      position: absolute;
      right: 0;
      top: 4.5em;
      padding: 1em;
      a {
        margin: 1em 2em;
      }
    }
  }
}

.large {
  display: block;
  .links {
    button {
      display: inline-block;
    }
  }

  @media screen and (max-width: 60em) {
    display: none;
  }
}
