.main {
  padding: 1em;
}

.heroBg {
  background-position: center center;
  background-size: cover;
  height: 75vh;
  @media screen and (min-width: 50em) {
    height: 100vh;
  }
}

.mintBg {
  background: linear-gradient(
    RGBA(197, 232, 211, 0.6),
    RGBA(197, 232, 211, 0.6)
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin: 1em;
}

.info {
  @media screen and (min-width: 50em) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  padding: 1em;
}

.subtitle {
  font-weight: var(--light);
  padding: 0 0.5em;
}

.nav {
  background-color: var(--mint);
}

.links {
  list-style-type: none;
  padding-left: 1em;
  li {
    margin: 0.5em;
  }
  @media screen and (min-width: 50em) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
