.event {
  padding: 1em;
  border-bottom: 1px solid var(--navy);

  details {
    margin: 1em 0;
  }

  summary {
    &:hover {
      cursor: pointer;
    }
  }
}

.title {
  font-weight: var(--bold);
  font-size: 1.1em;
  display: inline;
}

.time {
  font-size: 1em;
  font-weight: var(--regular);
  border-bottom: 1px solid #ccc;
  margin-right: 1em;
}

.grid {
  margin-top: 1em;
}

.sponsorLogo {
  max-width: 125px;
  margin-top: 1em;
}

@media screen and (min-width: 50em) {
  .grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1em;
    margin-top: 0;
  }
  .sponsorLogo {
    margin-top: 0;
  }
}

.food {
  background-color: #eaf7ee;
}
