.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--container);
}

.mission {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  line-height: 1.3;
  font-size: 1.6em;
  margin: 0.25em 0;
  @media screen and (min-width: 50em) {
    max-width: 22em;
    font-size: 1.8em;
  }
  @media screen and (min-width: 80em) {
    font-size: 2.2em;
  }
}

.headline {
  display: inline;
  font-family: 'Open Sans';
  font-weight: var(--light);
  font-size: 1.1em;
  line-height: 1.6;
  @media screen and (min-width: 50em) {
    max-width: 34em;
    font-size: 1.3em;
  }
}

.title {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0.25em 0;
  @media screen and (min-width: 65em) {
    font-size: 1.8em;
  }
}

.subtitle {
  display: inline;
  font-family: 'Open Sans';
  font-weight: var(--light);
  font-size: 1.3em;
  line-height: 2.1;
  background-color: var(--mint);
}

.heading {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  font-size: 1.3em;
  line-height: 1.3;
  margin: 1em 0;
}

.list {
  list-style-type: none;
  padding-left: 1em;
  li {
    padding-left: 1.2em;
  }
  li:before {
    content: '♥';
    color: var(--tan);
    font-size: 0.9em;
    display: inline-block;
    margin-left: -1.2em; /* same as padding-left set on li */
    width: 1.2em; /* same as padding-left set on li */
  }
}

.logos {
  display: grid;
  grid-template-column: 1fr 1fr 1fr 1fr;
  margin: 2em 0;
}

.sponsorLogo {
  max-width: 10em;
}

.form {
  display: flex;
  flex-direction: column;
  label {
    font-size: 0.8em;
    color: var(--navy);
    font-weight: var(--semi-bold);
  }
  input[type='email'] {
    font-size: 0.8em;
    color: var(--navy);
    padding: 1em 0.5em;
    margin: 1em 0;
    border: none;
    border-bottom: 1px solid var(--navy);
  }
  input[type='submit'] {
    font-size: 0.8em;
    color: var(--navy);
    background: var(--white);
    border: 2px dotted var(--navy);
    font-weight: var(--semi-bold);
    padding: 1em 1.25em;
    cursor: pointer;
    &:hover {
      border-style: solid;
    }
  }
  @media screen and (min-width: 30em) {
    flex-direction: row;
    align-items: center;
    input[type='email'] {
      margin: 0 1em;
      min-width: 15em;
    }
  }
}
