.section {
  padding: 3em 0;
  .content {
    padding: 0 2em;
  }
  @media screen and (min-width: 50em) {
    .content {
      padding: 2em;
    }
  }
  @media screen and (min-width: 80em) {
    max-width: var(--container);
    margin: 0 auto;
  }
}

.photoSection {
  display: flex;
  flex-direction: column;
  padding: 3em 1em;
  .content {
    padding: 0 2em;
  }
  .image {
    margin: 2em;
  }
  @media screen and (min-width: 50em) {
    flex-direction: row;
    justify-content: space-around;
    .content {
      align-self: center;
      width: 50%;
      max-width: 30em;
      padding: 2em;
    }
    .image {
      width: 50%;
      max-height: none;
      margin-left: 2em;
    }
    &:nth-of-type(2n) {
      flex-direction: row-reverse;
      .image {
        margin-right: 2em;
      }
    }
  }
}

.community {
  background: linear-gradient(to top, var(--white) 70%, var(--orange) 70%);
  @media screen and (min-width: 50em) {
    background: linear-gradient(
      to top left,
      var(--white) 70%,
      var(--orange) 70%
    );
  }

  a {
    border-color: var(--orange);
  }
}

.conference {
  background: linear-gradient(to top, var(--white) 50%, var(--mint) 50%);
  @media screen and (min-width: 50em) {
    background: linear-gradient(
      to bottom right,
      var(--white) 50%,
      var(--mint) 50%
    );
    .content {
      align-self: flex-start;
    }
  }

  a {
    border-color: var(--mint);
  }
}

.oye {
  background: var(--navy);
  color: var(--white);

  a {
    border-color: var(--tan);
  }
}

.chapters {
  background: linear-gradient(to top, var(--white) 50%, var(--blush) 50%);
  @media screen and (min-width: 50em) {
    background: linear-gradient(
      to top right,
      var(--white) 50%,
      var(--blush) 50%
    );
    .content {
      align-self: flex-end;
    }
  }

  a {
    border-color: var(--blush);
  }
}
