.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50em;
}

.mission {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  line-height: 1.3;
  font-size: 1.6em;
  margin: 0.25em 0;
  @media (--medium) {
    font-size: 1.8em;
  }
  @media (--large) {
    font-size: 2.2em;
  }
}

.headline {
  display: inline;
  font-family: 'Open Sans';
  font-weight: var(--light);
  font-size: 1.1em;
  @media (--medium) {
    font-size: 1.3em;
  }
}

.title {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0.25em 0;
  @media (--medium) {
    font-size: 1.8em;
  }
}

.section {
  padding: 1em 0;
  max-width: var(--medium);
  a {
    margin: 0 0.25em;
    border-bottom: 2px dotted var(--navy);
    &:hover {
      border-bottom-style: solid;
    }
  }
}

.list {
  list-style-type: none;
  padding-left: 1em;
  li {
    padding-left: 1.2em;
  }
  li:before {
    content: '♥';
    color: var(--tan);
    display: inline-block;
    margin-left: -1.2em; /* same as padding-left set on li */
    width: 1.2em; /* same as padding-left set on li */
  }
}
