.header {
  background-color: var(--white);
}

.container {
  padding: 0.5em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 80em) {
    max-width: var(--container);
    margin: 0 auto;
  }
}
