.content {
  padding: 3em;
}

.row {
  display: flex;
  flex-direction: column;
  .map {
    display: none;
  }
  @media screen and (min-width: 50em) {
    flex-direction: row;
    align-items: center;
    .image {
      width: 50%;
    }
    .map {
      display: block;
      position: absolute;
      right: 0;
      width: 50%;
    }
    .content {
      width: 50%;
      max-width: 30em;
    }
  }
}

/* .section {
  padding: 3em 0;
  .content {
    padding: 0 2em;
  }
  @media screen and (min-width: 50em) {
    .content {
      padding: 2em;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 80em) {
    max-width: var(--container);
    margin: 0 auto;
  }
}

.photoSection {
  .row {
    display: flex;
    flex-direction: column;
    margin: 3em 1em;
    .content {
      padding: 0 2em;
    }
  }
  iframe {
    display: none;
  }
  @media screen and (min-width: 50em) {
    .row {
      flex-direction: row;
      .content {
        align-self: center;
        width: 50%;
        max-width: 30em;
        padding: 2em;
      }
      .image,
      iframe {
        width: 50%;
        max-height: none;
      }
      iframe {
        display: block;
      }
    }
    &:nth-of-type(2n) {
      .row {
        flex-direction: row-reverse;
      }
    }
  }
  @media screen and (min-width: 80em) {
    .row {
      max-width: var(--container);
      margin: 0 auto;
    }
  }
} */
