.header {
  text-align: center;
  background-color: #ebf8ef;
  .info {
    h2 {
      font-size: 1em;
    }
    a {
      margin: 1em 2em;
      padding: 0.15em 0.5em;
      font-weight: var(--semi-bold);
      color: var(--white);
      background-color: var(--navy);
      box-shadow: 5px 5px var(--orange);
      display: inline-block;
    }
  }
  @media screen and (min-width: 60em) {
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info {
      display: flex;
      align-items: center;
      padding-right: 1em;
      h2 {
        font-size: 1.2em;
      }
    }
  }
}

.logo {
  margin: 1.5em 1em;
}

.heroImage {
  z-index: -1;
}

.main {
  /* background-color: var(--navy);
  color: var(--white); */
}

.section {
  padding: 3em 0;
  .content {
    padding: 0 2em;
  }
  @media screen and (min-width: 50em) {
    .content {
      padding: 2em;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 80em) {
    max-width: var(--container);
    margin: 0 auto;
  }
}

.photoSection {
  .row {
    display: flex;
    flex-direction: column;
    .content {
      padding: 0 2em;
    }
  }
  @media screen and (min-width: 50em) {
    .row {
      flex-direction: row;
      .content {
        align-self: center;
        width: 50%;
        max-width: 30em;
        padding: 2em;
      }
      .image,
      iframe {
        width: 50%;
        max-height: none;
      }
    }
    &:nth-of-type(2n) {
      .row {
        flex-direction: row-reverse;
      }
    }
  }
  @media screen and (min-width: 80em) {
    .row {
      max-width: var(--container);
      margin: 0 auto;
    }
  }
}
