.content {
  padding: 3em;
  ul {
    list-style-type: none;
    padding-left: 0em;
    li {
      font-size: 0.9em;
    }
  }
}

.photoSection {
  .row {
    display: grid;
    @media screen and (min-width: 50em) {
      grid-template-columns: 1fr 1fr;
      .content {
        max-width: 30em;
      }
    }
  }
}

.section {
  .aside {
    padding: 0 3em 3em 3em;
  }
  @media screen and (min-width: 50em) {
    .row {
      display: flex;
      align-items: center;
    }
    .content {
      padding: 3em;
    }
    .aside {
      margin: 1.5em;
      padding: 0 1.5em 1.5em;
      border: 4px solid var(--tan);
    }
  }
}
