.schedule {
  padding: 3em;
}

.tab {
  text-align: left;
  width: 100%;
  background-color: transparent;
  color: var(--navy);
  border: 1px solid var(--navy);
  &:hover {
    cursor: pointer;
  }
  &:focus,
  &[data-selected] {
    border-bottom: 4px solid var(--navy);
    background-color: var(--mint);
  }
}

@media screen and (min-width: 30em) {
  .tablist {
    display: flex;
  }

  .tab {
    flex: 1;
    padding-left: 1em;
    &:nth-of-type(2) {
      border-left: 0;
      border-right: 0;
    }
  }
}
