.keynotes,
.speakers {
  padding: 3em;
}

.grid {
  display: grid;
  grid-gap: 1em 2em;
  @media screen and (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 40em) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 80em) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 90em) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
