.section {
  padding: 3em 0;
  .content {
    max-width: var(--container);
    margin: 0 auto;
  }
}

.photoSection {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  .image {
    max-height: 20em;
    margin: 1em 0;
  }
  .content {
    max-width: var(--container);
    margin: 0 auto;
  }
  @media screen and (min-width: 80em) {
    flex-direction: row;
    justify-content: space-between;
    &:nth-of-type(2n) {
      flex-direction: row-reverse;
      .image {
      }
    }
    .content {
      align-self: center;
      width: 48%;
      margin: 0;
    }
    .image {
      width: 48%;
      max-height: none;
    }
  }
}
