.footer {
  padding: 1em 2em;
  background-color: var(--navy);
  color: var(--white);
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  @media screen and (min-width: 45em) {
    display: flex;
    align-items: center;
  }
  .cta {
    margin: 1em 0.5em;
  }
}

.link {
  padding: 0.5em;
  font-size: 1.6em;
  max-width: 1em;
  /* border-bottom: 2px solid transparent; */
  &:hover,
  &:focus {
    color: var(--orange);
  }
}
