/* -------------------- */
/* Variables */
/* -------------------- */
:root {
  --orange: #eb6851;
  --navy: #172751;
  --blush: #f1d8d3;
  --mint: #c5e8d3;
  --tan: #d5a96c;
  --white: #ffffff;
  --gray: #444444;

  --bold: 700;
  --semi-bold: 600;
  --regular: 400;
  --light: 100;

  --small: 30em;
  --medium: 42em;
  --large: 66em;
  --xlarge: 80em;
}

@media screen and (min-width: 66em) {
  :root {
    --container: 50em;
  }
}

@media screen and (min-width: 80em) {
  :root {
    --container: 80em;
  }
}

/* -------------------- */
/* Typography */
/* -------------------- */
body {
  font-family: 'Open Sans';
  font-weight: var(--regular);
  color: var(--navy);
  font-size: 15px;
  line-height: 1.6;
  @media screen and (min-width: 42em) {
    font-size: 16px;
  }
  @media screen and (min-width: 66em) {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  border-bottom: 4px solid;
  border-color: inherit;
  display: inline-block;
  font-weight: var(--semi-bold);
  font-family: 'PT Sans Caption';
  &:hover {
    border-bottom-style: dotted;
  }
}

.italic {
  font-style: italic;
}

.button {
  padding: 0.5em 1em;
  color: var(--white);
  background-color: var(--orange);
  box-shadow: 0.5em 0.5em var(--navy);
  &:hover {
    cursor: pointer;
  }
  &.secondary {
    background-color: var(--navy);
    box-shadow: 0.5em 0.5em var(--blush);
    margin-left: 1em;
  }
}

.title {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  font-size: 1.6em;
  line-height: 1.3;
  margin: 0.25em 0;
  @media screen and (min-width: 65em) {
    font-size: 1.8em;
  }
  @media screen and (min-width: 90em) {
    font-size: 2em;
  }
}

.subtitle {
  display: inline;
  font-family: 'Open Sans';
  font-weight: var(--light);
  font-size: 1.3em;
}

/* Miscellaneous */
[data-reach-skip-link] {
  overflow: hidden;
  position: absolute;
  transition: all 0.3s ease-in-out;
  color: var(--navy);
  z-index: -1;
  opacity: 0;
}

[data-reach-skip-link]:focus {
  background-color: var(--white);
  display: block;
  padding: 1em 1.5em;
  z-index: 1;
  opacity: 1;
}
