/* -------------------- */
/* Variables */
/* -------------------- */
:root {
  --orange: #eb6851;
  --navy: #172751;
  --blush: #f1d8d3;
  --mint: #c5e8d3;
  --tan: #d5a96c;
  --white: #ffffff;
  --gray: #444444;

  --bold: 700;
  --semi-bold: 600;
  --regular: 400;
  --light: 100;

  --small: 30em;
  --medium: 42em;
  --large: 66em;
  --xlarge: 80em;
}

@media screen and (min-width: 66em) {
  :root {
    --container: 50em;
  }
}

@media screen and (min-width: 80em) {
  :root {
    --container: 80em;
  }
}

/* -------------------- */
/* Global Styles */
/* -------------------- */
body {
  font-family: 'Open Sans';
  font-weight: var(--regular);
  color: var(--navy);
  font-size: 15px;
  line-height: 1.6;
  @media screen and (min-width: 42em) {
    font-size: 16px;
  }
  @media screen and (min-width: 66em) {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  border-bottom: 2px dotted var(--navy);
  display: inline-block;
  &:hover {
    border-bottom-style: solid;
  }
}

.link-group .link {
  margin: 0 0.25em;
}

.button {
  padding: 0.5em 1em;
  color: var(--white);
  background-color: var(--orange);
  box-shadow: 0.5em 0.5em var(--navy);
  &:hover {
    cursor: pointer;
  }
  &.secondary {
    background-color: var(--navy);
    box-shadow: 0.5em 0.5em var(--blush);
    margin-left: 1em;
  }
}

[data-reach-skip-link] {
  overflow: hidden;
  position: absolute;
  transition: all 0.3s ease-in-out;
  color: var(--navy);
  z-index: -1;
  opacity: 0;
}

[data-reach-skip-link]:focus {
  background-color: var(--white);
  display: block;
  padding: 1em 1.5em;
  z-index: 1;
  opacity: 1;
}
