.gradientBg {
  background-color: var(--navy);
  background: linear-gradient(
    var(--navy),
    var(--mint),
    var(--orange),
    var(--navy)
  );
  padding: 0.4em;
}

.whiteBg {
  background: var(--white);
  padding: 1em;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}
