.section {
  padding: 3em 1em;
}

.info {
  padding: 2em;
}

.levelSection {
  padding: 1em;
}

.heading {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  font-size: 1em;
  line-height: 1.3;
  margin: 1em 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid var(--tan);
  border-bottom: 1px solid var(--tan);
}

@media screen and (min-width: 65em) {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .cta {
    max-width: 35%;
    margin: 2em;
  }
  .info {
    max-width: 50%;
  }
}

.cta {
  padding: 2em;
  background-color: var(--tan);
  a {
    margin-top: 1em;
    display: inline;
  }
  p {
    margin-top: 0;
  }
}

.sponsor {
  /* max-width: 50%; */
  p {
    font-size: 0.8em;
  }
}

/* .logos {
  margin: 2em 0;
} */

/* If somehow a logo is added without a level below, it will be medium-sized by default */
.logo {
  width: 12em;
  margin: 1em;
}

.platinum {
  .sponsor {
    display: flex;
    align-items: center;
    p {
      max-width: 30em;
    }
  }
}

.platinum,
.gold,
.silver,
.bronze {
  .logo {
    width: 14em;
    margin: 1em;
  }
}

.workshops,
.lanyards,
.breakout,
.childcare {
  .logo {
    width: 12em;
    margin: 1em;
  }
}

.accessibility,
.headshot,
.localmeetup {
  .logo {
    max-width: 8em;
    margin: 1em;
  }
}

.grid {
  @media screen and (min-width: 30em) {
    display: flex;
    align-items: center;
  }
}
