.title {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0.25em 0;
  @media screen and (min-width: 65em) {
    font-size: 1.8em;
  }
}

.subtitle {
  display: inline;
  font-family: 'Open Sans';
  font-weight: var(--light);
  font-size: 1.3em;
  line-height: 2.1;
}

.heading {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  font-size: 1.3em;
  line-height: 1.3;
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--blush);
}

.logos {
  margin: 2em 0;
}

/* If somehow a logo is added without a level below, it will be medium-sized by default */
.logo {
  width: 12em;
  margin: 1em;
}

.platinum,
.gold,
.silver,
.bronze {
  .logo {
    width: 14em;
    margin: 1em;
  }
}

.workshops,
.lanyards,
.breakout,
.childcare {
  .logo {
    width: 12em;
    margin: 1em;
  }
}

.accessibility,
.headshot,
.localmeetup {
  .logo {
    max-width: 8em;
    margin: 1em;
  }
}

.grid {
  @media screen and (min-width: 30em) {
    display: flex;
  }
}
