.background {
  background-color: var(--tan);
}

.row {
  padding: 1em 0;
}

.info {
  padding: 2em;
}

.wrap {
  border-left: 1px solid var(--tan);
  border-right: 1px solid var(--tan);
  margin: 0 3em;
}

.levelSection {
  &:first-of-type {
    margin-top: 2em;
  }
  &:last-of-type {
    margin-bottom: 4em;
    border-bottom: 1px solid var(--tan);
  }
}

.heading {
  font-family: 'PT Sans Caption';
  font-weight: var(--bold);
  font-size: 1em;
  line-height: 1.3;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid var(--tan);
  border-bottom: 1px solid var(--tan);
}

.cta {
  padding: 2em;
  a {
    margin-top: 1em;
    display: inline;
  }
  p {
    margin-top: 0;
  }
}

.grid {
  display: grid;
  align-items: center;
}

.other,
.community,
.bronze,
.gold,
.silver {
  img {
    max-width: 10em;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 65em) {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .wrap {
    margin: 0 5em;
  }

  .cta {
    max-width: 35%;
    margin: 2em;
  }

  .info {
    max-width: 50%;
  }

  .grid {
    display: grid;
  }

  .platinum {
    .grid {
      grid-template-columns: 1fr;
    }
    figure {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;
    }
  }

  .gold,
  .silver {
    img {
      max-width: 15em;
    }
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .bronze {
    img {
      max-width: 13em;
    }
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
    }
  }

  .other,
  .community {
    img {
      max-width: 10em;
    }
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 80em) {
  .row {
    max-width: var(--container);
    margin: 0 auto;
  }
}

@media screen and (min-width: 90em) {
  .wrap {
    max-width: 70em;
    margin: 0 auto;
  }
}
